version: "3.8"

 

services:

  # =========================

  # ZOOKEEPER

  # =========================

  zookeeper:

    image: confluentinc/cp-zookeeper:7.4.1

    container_name: zookeeper

    ports:

      - "2181:2181"

    environment:

      ZOOKEEPER_CLIENT_PORT: 2181

      ZOOKEEPER_TICK_TIME: 2000

 

  # =========================

  # KAFKA BROKER 1

  # =========================

  kafka1:

    image: confluentinc/cp-kafka:7.4.1

    hostname: kafka1

    ports:

      - "29092:29092"

    depends_on:

      - zookeeper

    environment:

      KAFKA_BROKER_ID: 1

      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

 

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092

      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka1:9092,PLAINTEXT_HOST://localhost:29092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

 

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3

      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2

      KAFKA_MIN_INSYNC_REPLICAS: 2

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

 

  # =========================

  # KAFKA BROKER 2

  # =========================

  kafka2:

    image: confluentinc/cp-kafka:7.4.1

    hostname: kafka2

    ports:

      - "29093:29092"

    depends_on:

      - zookeeper

    environment:

      KAFKA_BROKER_ID: 2

      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

 

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092

      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka2:9092,PLAINTEXT_HOST://localhost:29093

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

 

      KAFKA_MIN_INSYNC_REPLICAS: 2

 

  # =========================

  # KAFKA BROKER 3

  # =========================

  kafka3:

    image: confluentinc/cp-kafka:7.4.1

    hostname: kafka3

    ports:

      - "29094:29092"

    depends_on:

      - zookeeper

    environment:

      KAFKA_BROKER_ID: 3

      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

 

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092

      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka3:9092,PLAINTEXT_HOST://localhost:29094

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

 

      KAFKA_MIN_INSYNC_REPLICAS: 2

 

  # =========================

  # KAFDROP (Kafka UI)

  # =========================

  kafdrop:

    image: obsidiandynamics/kafdrop

    container_name: kafdrop

    depends_on:

      - kafka1

      - kafka2

      - kafka3

    ports:

      - "9000:9000"

    environment:

      KAFKA_BROKERCONNECT: kafka1:9092

      JVM_OPTS: "-Xms32M -Xmx64M"

 

  # =========================

  # POSTGRES

  # =========================

  postgres:

    image: postgres:15

    container_name: postgres

    ports:

      - "5432:5432"

    environment:

      POSTGRES_USER: ${POSTGRES_USER}

      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

      POSTGRES_DB: ${POSTGRES_DB}

 

  # =========================

  # PGADMIN

  # =========================

  pgadmin:

    image: dpage/pgadmin4

    container_name: pgadmin

    depends_on:

      - postgres

    ports:

      - "8080:80"

    environment:

      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}

      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}

 

  # =========================

  # GRAFANA

  # =========================

  grafana:

    image: grafana/grafana

    container_name: grafana

    ports:

      - "3000:3000"

    environment:

      GF_SECURITY_ADMIN_PASSWORD: ${GRAFANA_ADMIN_PASSWORD}
